---
import BannerLeftText from "../../../components/BannerLeftText.astro"
import BannerRightText from "../../../components/BannerRightText.astro"
import PageHeading from "../../../components/pageHeading.astro"
import Pagination from "../../../components/Pagination.astro"
import Default from "../../../layouts/Default.astro"




const title ="Background"
const nextTitle = "Voices From The Community"
const nexturl = "/page/voices-from-the-community/"
const prevTitle = "Introduction"
const prevurl = "/page/introduction"


const description = "Exploring the Impact of Cyber Attacks on the Tibetan Community in Exile"
const image ="screenshot.png"

---
<Default title={title} description={description} image={image}>
	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around" >
	<PageHeading {title}>
        <p slot="link" class="text-slate-400 text-2xl text-center p-5 m-auto z-10">
            <a href="/">Home</a><span class="px-2">/</span>
            <a href="">Background</a> 
        </p>  
        <div slot="subheading" class="z-40 text-white  text-center text-3xl pb-20 sm:w-full md:w-1/2 lg:w-full flex justify-center"> 
            <p class="w-full px-5 md:w-1/2 ">
                This section provides an overview of the digital threats Tibetan organizations have experienced, which demonstrates how the threats evolve and adapt overtime. 
            </p>
        </div> 
    </PageHeading>
        <BannerRightText title="The Tibet Movement Goes Online" link="/page/background/the-tibet-movement-goes-online/" img="/images/thediplomat-ap.jpg">
        </BannerRightText>
        
        <BannerLeftText title="Early Digital Threats Against The Community" link="/page/background/early-digital-threats/" img="/images/bw.jpg ">
        </BannerLeftText>
        <Pagination next={nexturl} nextTitle={nextTitle} prev={prevurl} prevTitle={prevTitle} />
	</div>	
</Default>