---
import Pagination from "../../../../components/Pagination.astro"
import Default from "../../../../layouts/Default.astro"



const title = "A movement Under Surveillance "
const nextTitle = "Impersonation & Trust"
const nextUrl = "/page/on-the-frontline/impersonation-&-trust"
const PrevTitle = "On The Frontline"
const prevtUrl = "/page/on-the-frontlines"

---
<Default title={title}>

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">

		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black flex flex-col justify-between overflow-hidden">
                <p class="text-slate-400 text-2xl text-center p-5 bg-slate-800 m-auto">Voices From The Community / A Spectrum of Threats</p>
                <h1 class="p-20 font-bold text-9xl bg-gradient-to-r from-slate-700 to-slate-800 via-slate-200   bg-clip-text text-transparent content-center  z-10  px-20 [text-shadow:_2px_2px_0_rgb(0_0_0_/_30%)] text-center" transition:name="title1">
                    {title}
                    </h1>
			</div>
		</section>
        <section class="content bg-slate-900 w-full text-md md:text-3xl font-oswald leading-relaxed ">
            <div class="mx-auto w-4/5 p-10 text-white text-justify">
                <p>
                    The first line of attack in most digital espionage that uses targeted malware is luring targets to perform some kind of action, usually opening a malicious attachment or link. The social engineering tactics used in these intrusion attempts are often highly sophisticated and show a knowledge of the activities and network of the target. This level of sophistication speaks to the effort being put into the espionage campaigns and the amount of information the adversaries already have on their targets. The stories we collected from community members on the frontline of Tibet advocacy share key moments in the history of the movement. This mirroring reflects the persistence of digital threats over decades and shows how closely the adversaries monitor the community.
                </p>
            </div>


        </section>

<Pagination prevTitle={PrevTitle} prev={prevtUrl} nextTitle={nextTitle} next={nextUrl} home="/">


	</div>



	
</Default>