---
import PageHeading from "../../../../components/pageHeading.astro"
import Pagination from "../../../../components/Pagination.astro"
import Quote from "../../../../components/Quote.astro"
import Tooltip from "../../../../components/Tooltip.astro"
import Video from "../../../../components/Video.astro"
import VideoUtube from "../../../../components/VideoUtube.astro"
import Default from "../../../../layouts/Default.astro"



const title = "Digital Attacks As Censorship"

const PrevTitle = "Poisoning The Well: Using Tibetan Websites Against The Community"
const prevtUrl = "/page/voices-from-the-community/a-spectrum-of-threats/poisoning-the-well/"
const nextTitle = "The Spy In Your Pocket"
const nextUrl = "/page/voices-from-the-community/a-spectrum-of-threats/the-spy-in-your-pocket/"

---
<Default title={title}>
	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900">
        <PageHeading {title}>
            <p slot="link" class="text-slate-400 text-2xl text-center p-5  m-auto z-10">
                <a href="/">Home</a>
                <span class="px-2">/</span>
                <a href="/page/voices-from-the-community/">Voices From The Community</a>
                <span class="px-2">/</span>
                <a href="/page/voices-from-the-community/a-spectrum-of-threats/"> A Spectrum of Threat</a>
                <span class="px-2">/</span><a>{title}</a>
            </p>
        </PageHeading>
		
        <section class="content bg-slate-900 w-full text-md md:text-3xl text-slate-300 font-oswald leading-relaxed ">
            
            <div class="mx-auto w-full md:w-4/5  p-5 md:p-10 text-justify "> 
                <Quote person="Peldon la" title="Editor-in-Chief, VOT" img="/media/tenzin-paldon.jpeg">
                    <p>
                        “We were not able to reach our audience on time since our job was to get the news and information about Tibet to the Tibetans inside Tibet right on time. We couldn’t do that for several days because of the attack and I felt that all of our efforts have gone wasted.”
                    </p>
                </Quote>
               <p>Targeted digital espionage is not the only threat that Tibetan groups experience. Some digital attacks are aimed at blatantly silencing groups through attacks on websites.</p>
              <p>Voice of Tibet (VOT) is an independent radio station founded in 1996 with a mission to transmit news to Tibetans inside Tibet and around the world. Tibetan exile media like VOT present a clear threat to the censorship regime of China by providing independent news to Tibetans inside Tibet in both Tibetan and Mandarin. The VOT website is blocked in China and its transmissions online and over the air comes under constant threat.</p>
                <p>In 2011, VOT experienced massive disruptions of its website and radio signal. The website was taken offline by a Distributed Denial of Service (DDoS) attack overwhelming the website with too much traffic. This type of digital threat works by flooding a website with too many requests than it can handle resulting in poor performance or even complete crashes. It’s like shutting down a road by causing a massive traffic jam. At the same time as the DDoS attack, VOT’s shortwave radio transmissions into Tibet experienced persistent jamming attempts.</p>
                <p>A staff at VOT felt it was clear that they were attacked by agents of China in an attempt to silence the service. Oystein Alme, then the project manager at VOT, remarked: “We have noted a significant increase in jamming since 16 March, especially in the cities where the government has invested tens of millions of dollars to install antennae to prevent Tibetans from listening to us.<sup data-tooltip-target="footnote-19" data-tooltip-trigger="click">19</sup></p>
                <p>Tenzin Peldon, Chief Editor at VOT, emphasized the resilience of Tibetan media in the face of adversity, acknowledging the ongoing battle against Chinese censorship. Despite relentless attempts to disrupt their broadcasts,<sup data-tooltip-target="footnote-20" data-tooltip-trigger="click">20</sup> Peldon affirmed VOT’s commitment to circumventing censorship through innovative programming strategies. However, the repercussions of these attacks extended beyond VOT, impacting the broader Tibetan community’s access to vital information and cultural preservation efforts.<sup data-tooltip-target="footnote-21" data-tooltip-trigger="click">21</sup></p>
                
                
                  
                     
                 
                <p>
                    Websites served as more than just information hubs; they were vital platforms for cultural preservation, community building, and political advocacy. 
                    Threats like DDoS attacks disrupt the flow of information and impede the community’s ability to raise awareness about human rights violations in Tibet. 
                    Other Tibetan media and civil society groups including Tibet Times, Phayul, and the Tibetan Center for Human Rights and Democracy (TCHRD), also faced similar assaults, 
                    highlighting the systematic targeting of Tibetan voices by malicious actors. As Tibetans continue to navigate the digital landscape,
                     safeguarding their online platforms becomes paramount to upholding their right to free expression and preserving their cultural heritage.
                </p>

            </div>
        </section>


	</div>
    <Pagination prevTitle={PrevTitle} prev={prevtUrl} nextTitle={nextTitle} next={nextUrl} home="/">




	
</Default>

<Tooltip id="footnote-19">
    <a href="https://humanrightshouse.org/articles/radio-stations-jammed-websites-hacked-media-restrained-in-tibet" target="_blank">Radio Stations Jammed, Websites, Hacked, Media Restrained in Tibet”, Human Rights House Foundation, April 24, 2008</a>
</Tooltip>
<Tooltip id="footnote-20">
    <a href="https://humanrightshouse.org/articles/radio-stations-jammed-websites-hacked-media-restrained-in-tibet" target="_blank">“Radio Stations Jammed, Websites, Hacked, Media Restrained in Tibet”, Human Rights House Foundation, April 24, 2008</a>
</Tooltip>
<Tooltip id="footnote-21">
    <a href="https://www.engadget.com/2017-06-27-the-high-tech-war-on-tibetan-communication.html" target="_blank">“The High-Tech War on Tibetan Communication”, Engadget, June 27, 2017</a>
</Tooltip>