---
import PageHeading from "../../../../components/pageHeading.astro"
import Pagination from "../../../../components/Pagination.astro"
import Quote from "../../../../components/Quote.astro"
import Video from "../../../../components/Video.astro"
import Default from "../../../../layouts/Default.astro"



const title = "Impersonation & Trust"

const nextTitle = "Poisoning The Well: Using Tibetan Websites Against The Community"
const nextUrl = "/page/voices-from-the-community/a-spectrum-of-threats/poisoning-the-well/"
const PrevTitle = "A Spectrum of Threat"
const prevtUrl = "/page/voices-from-the-community/a-spectrum-of-threats/"

---
<Default title={title}>

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">
        <PageHeading {title}>
            <p slot="link" class="text-slate-400 text-2xl text-center p-5  m-auto">
                <a href="/">Home</a>
                <span class="px-2">/</span>
                <a href="/page/voices-from-the-community/">Voices From The Community</a>
                <span class="px-2">/</span>
                <a href="/page/voices-from-the-community/a-spectrum-of-threats/"> A Spectrum of Threat</a>
                <span class="px-2">/</span><a>{title}</a>
            </p>
        </PageHeading>
        <section class="content bg-slate-900 w-full text-2xl md:text-3xl text-slate-300 font-oswald leading-relaxed ">
            
            <div class="mx-auto w-full md:w-4/5  p-5 md:p-10  text-justify">
                <p>
                    Digital espionage against the community often impersonates known people and groups by sending messages and emails that appear to come from trusted sources. Through these impersonations malware can spread through the community and undermine the credibility of Tibetan groups.
                </p>
               <p>
                The Tibetan Women’s Association (TWA) is a key group in the Tibet movement that originates in the courageous protests of Tibetan women against the illegal occupation of Tibet by China in 1959. Targeted digital espionage campaigns have impersonated TWA to send malicious messages to other groups for years.
               </p>
               <p>
                In December 2018, a malicious email, purportedly from the TWA, circulated within the community. The email included a malicious attachment titled ‘Tibet was never a part of China’. Clicking on the attachment would infect the target’s computer with malware capable of extracting sensitive information. Similarly, in 2021, another impersonated email, titled ‘Inside Tibet and from the Tibetan exile community’, targeted institutions like the Library of Tibetan Works and Archive and offices of the Central Tibetan Administration (CTA) abroad. For victims using Firefox browser with Gmail logged in, clicking the malicious link grants near-total access to their Gmail accounts. These impersonation attacks not only exploit the trust and reputation of Tibetan institutions but also undermine the collective security of the Tibetan community.
               </p>
               <p>
                Kelsang Dolma, the General Secretary of the TWA recounts the impact the incident had on the group.
               </p>


                <Quote person="Kelsang Dolma" title="General Secretary TWA" img="/media/kalsang-dolma.jpeg">
                    <p>
                        This incident caused us a lot of concern not only on the individual level but also on an organizational level. As an activist association, such impersonation and intrusion attempts to our important files and financial accounts will jeopardize the credibility and trustworthiness of our association within our society.
                    </p>
                </Quote>
                <p>
                    Responding to the threat, the TWA promptly alerted recipients of the malicious emails to report them and refrain from clicking on any links or attachments. Additionally, TibCERT proactively reached out to organizations that received similar emails, urging them to assess their systems and networks for potential compromise.
                </p>
            </div>


        </section>

        <Pagination prevTitle={PrevTitle} prev={prevtUrl} nextTitle={nextTitle} next={nextUrl} home="/">



	</div>




	
</Default>