---
import BannerLeftText from "../../../../components/BannerLeftText.astro"
import BannerRightText from "../../../../components/BannerRightText.astro"
import Pagination from "../../../../components/Pagination.astro"
import Default from "../../../../layouts/Default.astro"


const title ="A SPECTRUM OF THREATS"
const nextTitle = "The Community Responds"
const nexturl = "/page/the-community-responds/"
const prevTitle = "Voices From The Community"
const prevurl = "/page/voices-from-the-community/"
---
<Default title={title}>
	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">
		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black  justify-between overflow-hidden flex flex-col items-center">
				<p class="text-slate-400 text-2xl text-center p-5  m-auto">
                    <a href="/">Home</a><span class="px-2">/</span><a href="/page/voices-from-the-community/"> Voices From The Community</a>
					<span class="px-2">/</span><a>{title}</a>
                </p>
				<h1 class="pt-20 font-bold text-9xl bg-gradient-to-r from-slate-700 to-slate-800 via-slate-200   bg-clip-text text-transparent content-center  z-10  px-20 [text-shadow:_2px_2px_0_rgb(0_0_0_/_30%)] text-center" transition:name="title1">
                    {title}
                    </h1>
                <p class="text-white  text-center text-3xl pb-20 w-1/2 justify-center">  This section provides an overview of the digital threats Tibetan organizations have experienced, which demonstrates how the threats evolve and adapt overtime. </p>
			</div>
		</section>
		<section class="content bg-slate-900 w-full text-3xl font-oswald text-slate-300 leading-relaxed ">
			<!-- <div class="mx-auto w-4/5 p-10">
			</div>    -->
	
		</section>
		<BannerLeftText title="Impersonation And Trust" link="/page/voices-from-the-community/a-spectrum-of-threats/impersonation-&-trust" img="/images/bw.jpg ">
        </BannerLeftText>
		
        <BannerRightText title="Poisoning The Well: Using Tibetan Websites Against The Community" link="/page/voices-from-the-community/a-spectrum-of-threats/poisoning-the-well/" img="/images/bw.jpg">
        </BannerRightText>

		<BannerLeftText title="Digital Attacks As Censorship" link="/page/voices-from-the-community/a-spectrum-of-threats/digital-attacks-as-censorship" img="/images/bw.jpg ">
        </BannerLeftText>

		<BannerRightText title="The Spy In Your Pocket" link="/page/voices-from-the-community/a-spectrum-of-threats/the-spy-in-your-pocket/" img="/images/bw.jpg">
        </BannerRightText>
		
       

        <Pagination next={nexturl} nextTitle={nextTitle} prev={prevurl} prevTitle={prevTitle} />

      

	</div>

	
</Default>