---
import Pagination from "../../../../components/Pagination.astro"
import Quote from "../../../../components/Quote.astro"
import Default from "../../../../layouts/Default.astro"
import Video from "../../../../components/Video.astro"



const title = "Poisoning The Well: Using Tibetan Websites Against The Community"

const PrevTitle = "Impersonation & Trust"
const prevtUrl = "/page/on-the-frontline/impersonation-&-trust"
const nextTitle = "Digital Attacks As Censorship"
const nextUrl = "/page/voices-from-the-community/a-spectrum-of-threats/digital-attacks-as-censorship/"

---
<Default title={title}>

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900">

		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black flex flex-col justify-between overflow-hidden">
                <p class="text-slate-400 text-2xl text-center p-5  m-auto">
                    <a href="/">Home</a>
                    <span class="px-2">/</span>
                    <a href="/page/voices-from-the-community/">Voices From The Community</a>
                    <span class="px-2">/</span>
                    <a href="/page/voices-from-the-community/a-spectrum-of-threats/"> A Spectrum of Threat</a>
                    <span class="px-2">/</span><a>{title}</a>
                </p>
                <h1 class="p-20 font-bold text-9xl bg-gradient-to-r from-slate-700 to-slate-800 via-slate-200  bg-clip-text text-transparent content-center  z-10  px-20 [text-shadow:_2px_2px_0_rgb(0_0_0_/_30%)] text-center" transition:name="title1">
                    {title}
                    </h1>
			</div>
		</section>
        <section class="content bg-slate-900 w-full text-3xl font-oswald leading-relaxed ">
            <div class="mx-auto w-4/5 p-10 text-white">
                
               <p>
                Targeted malware is not only delivered through emails or messages. It can also spread through the community by infecting trusted websites. Like a village well, websites for Tibetan media and organizations serve as vital resources for the community. If you poison the well, you poison the village. A “watering hole attack” describes this type of action online. Attackers get unauthorized access to websites and infect them with malware. When visitors visit the website they are at risk of their computer being infected by the malware and giving access to the attackers. The modus operandi of these attacks is particularly insidious, as compromised websites automatically download malware onto visitors’ devices without their knowledge. This method bypasses the need for attackers to target individuals individually, streamlining the process, and maximizing the impact.
               </p>
              <p>
                Many Tibetan websites have experienced watering hole attacks including media sites and official websites for key organizations such as the Central Tibetan Administration and the Offices of His Holiness the Dalai Lama.9 Community resource websites have also fallen victim including Tibetan Homes Foundation, and a Tibetan school in the diaspora.
              </p>
              <p>
                Tibet Times started as a Tibetan-language newspaper before evolving into a comprehensive media outlet, offering a Tibetan-language website and a mobile app to disseminate accurate information and breaking news about Tibet. In 2013, a scan for malicious ;omls on the TibetTimes website revealed a disturbing discovery: visitors to the site unwittingly opened a malicious domain, potentially exposing their devices to malware.
              </p>

                <Quote person="Tenzin Rabyang" title="Managing Director at Tibet Times" img="/media/rabyang.jpeg">
                    <p>
                        “When this kind of attack happens to us, it not only tarnishes the credibility of Tibet Times among our viewers but more importantly it jeopardizes their safety as well through potential device infections. Naturally it also creates a worrisome and annoying situation in our working process.”
                    </p>
                </Quote>
                <p>
                    Websites like TibetTimes that publish news on the human rights violations occurring inside Tibet, covering in TIbetan, English and Chinese, attracting visitors from Tibet and worldwide. However, these attacks not only harm the credibility and integrity of TibetTimes but also endanger website visitors. For individuals from Tibet, such attacks could have serious consequences, if found accessing or sharing content deemed sensitive by the PRC, individuals could face harassment, surveillance, or even legal repercussions.
                </p>
                <Video src="https://tibcert.org/threat-story/images/lhadon.mp4"/>
            </div>


        </section>
        <Pagination prevTitle={PrevTitle} prev={prevtUrl} nextTitle={nextTitle} next={nextUrl} home="/">
    

	</div>




	
</Default>