---

import Pagination from "../../../../components/Pagination.astro"
import Quote from "../../../../components/Quote.astro"
import Video from "../../../../components/Video.astro"
import Default from "../../../../layouts/Default.astro"

const title ="Spying And Self Immolations In Tibet"
const nextTitle = "Spying On The Tibetan Movement During Covid"
const nexturl = "/page/voices-from-the-community/spying/spying-on-the-tibetan-movement-during-covid"
const prevTitle = "Surveillance, Harassment, And The 2008 Beijing Olympics"
const prevurl = "/page/voices-from-the-community/spying/surveillance-harassment-&-2008-beihing-olympics"

---
<Default title={title}>

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">

		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black flex flex-col justify-between overflow-hidden">
                <p class="text-slate-400 text-2xl text-center p-5  m-auto">
                    <a href="/">Home</a>
                    <span class="px-2">/</span>
                    <a href="/page/voices-from-the-community/">Voices From The Community</a>
                    <span class="px-2">/</span>
                    <a href="/page/voices-from-the-community/spying/"> Spying During The Pivotal Moments For THe Tibet Movement</a>
                    <span class="px-2">/</span><a>{title}</a>
                </p>
                <h1 class="p-20 font-bold text-9xl bg-gradient-to-r from-slate-700 to-slate-800 via-slate-200    bg-clip-text text-transparent content-center  z-10  px-20 [text-shadow:_2px_2px_0_rgb(0_0_0_/_30%)] text-center" transition:name="title1">
                    {title}
                    </h1>

			</div>
		</section>
        <section class="content bg-slate-900 w-full text-3xl font-oswald text-slate-300 leading-relaxed">
            
        <div class="mx-auto w-4/5 p-10">
            <p>In the aftermath of the 2008 Beijing Olympics, Chinese authorities waged a brutal crackdown in Tibet, leading to arrests of thousands of Tibetans and the deaths of over 100 Tibetans. Beyond those involved in the 2008 protests, Tibetan writers, singers, and educators became prime targets of repression. A report from the International Campaign for Tibet (ICT) published on March 9, 2009 revealed that around 600 Tibetans have been detained as political prisoners since March 2008. </p>
            <p>2009 marked a somber turn for Tibetans when a 20-year-old monk from Kirti monastery named Lobsang Tashi (or Tapey to his friends) self-immolated in protest against Chinese policies. As his body burned in protest, Chinese police shot him and took him into custody. His protest was understood as a plea for international attention to China’s oppressive measures in Tibet. </p>
            <p>Over the next nine years, 158 more Tibetans  self-immolated, calling for the  return of His Holiness the Dalai Lama and freedom for Tibet. This unprecedented series of self immolations was a major turning point for the Tibet movement as it demonstrated the extreme levels of repression Tibetans in Tibet were under and the measures they were prepared to take to bring attention to the dire human rights situation.</p>
            <p>During this time, like all leaders in the Tibet Movement, Lhadon Tethong, the Director of Tibet Action Institute paid close attention to the self-immolations and worked tirelessly to bring international attention to them.</p>
            <p>In February 2012, Lhadon received an email that appeared to come from Cheng Li, a notable Chinese-American scholar who was Director of Research at The Brookings Institution, a Washington DC-based think tank. In the email, Mr. Li explained to Lhadon that he would be attending an academic conference on religious research in Shanghai and would like to learn more about Tibetan self immolations. The email included a spreadsheet that Mr. Li explained listed Tibetans who had self-immolated since 2009. He asked Lhadon to review the document for him. </p>
            <p>On the first read Lhadon was enthusiastic about this request from a prominent China expert. However, she quickly determined that the email was not sent from the real Cheng Li. A telltale sign was that the email was sent from a suspicious looking email account (chengli.brookings@ aol.com). </p>
            <p>As a leader in the Tibet movement Lhadon had become accustomed to receiving emails with malicious files and messages designed to entice her to open them. The constant targeting she experienced made her weary of any messages she received. While these types of emails were routine to Lhadon, this particular message left her feeling vulnerable.</p>
            
            <Quote person="Lhadon Tethong" title="Co-founder and Director of Tibet Action Institute" img="/media/lhadon.jpg">
                <p>I remembered thinking that this was good, a well crafted, researched targeted attack and I wouldn't say I was impressed but maybe my blood ran a little cold recognizing how sophisticated  cyber attacks can be and there was no question to deny that it must be a Chinese government backed attack.</p>
            </Quote>
            <p>
                Lhadon sent the email to researchers at the Citizen Lab who verified the attachment contained malware designed to infect computers running Windows. This finding confirmed Lhadon’s suspicions the email was a clever attempt at breaking into her computer and spying on her.
            </p>
            <p>Following this revelation, Lhadon and the Citizen Lab researchers devised their own ruse to turn the table on the attackers. Lhadon wrote back to “Cheng Li” with some information about the type of computer she was using as bait that the attackers may be interested in.</p>
          
            <blockquote class=" items-center italic text-3xl text-slate-400">
                <p>"Thank you for your inquiry. I’d be happy to help out–I’m having trouble opening the document on my Mac though, I think there may be an issue with the Chinese character font? I think if you sent me a Word version that might be easiest, as it would also allow me to make comments in the document.
                "</p>
            </blockquote>
            <p>
                A few days later the Cheng Li imposter wrote back with a polite message apologizing for the delay in replying and noting he still had to prepare his report on self immolations so there was time for Lhadon to send him comments. The email included a link to a report that was in fact directed towards a website that would serve the visitor malware for windows or a Mac depending on the computer they were using. This response led Lhadon and the Citizen Lab researchers to conclude that the attackers had taken the bait they left in her message.
            </p>
            <p>
                Lhadon’s response included that she was using a Mac, and they likely spent the next four days putting together malware that could infect Mac computers. This digital espionage attempt stood out for the social engineering used to convincingly masquerade as Cheng Li and the technical adaptations the attackers made in real time in hopes of getting access to Lhadon’s communications and data.
            </p>
            <p>
                While tricking the attackers was an empowering moment, overall the experience left an emotional toll on Lhadon. 
            </p>
            <blockquote class=" items-center italic text-3xl text-slate-400 pb-10">
                <p>"The attack left me reeling, shattering my sense of security and trust in my online interactions. It amplified my feelings of vulnerability and paranoia. Considering the confidential nature of my work, the breach threatened to compromise sensitive information, adding another layer of anxiety to my already demanding role."</p>
            </blockquote>
            <Video src="https://tibcert.org/threat-story/images/rabyang.mp4"/>
        </div>   
       
        </section>
       
	

        <Pagination next={nexturl} nextTitle={nextTitle} prev={prevurl} prevTitle={prevTitle} />

     

	</div>



	
</Default>