---

import Pagination from "../../../../components/Pagination.astro"
import Quote from "../../../../components/Quote.astro"
import Video from "../../../../components/Video.astro"
import Default from "../../../../layouts/Default.astro"

const title ="Spying On The Tibetan Movement During Covid"
const nextTitle = "A Spectrum Of Threats"
const nexturl = "/page/voices-from-the-community/a-spectrum-of-threats"
const prevTitle = ""
const prevurl = ""

---
<Default title={title}>

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">

		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black flex flex-col justify-between overflow-hidden">
            <p class="text-slate-400 text-2xl text-center p-5  m-auto">
               <a href="/">Home</a>
               <span class="px-2">/</span>
               <a href="/page/voices-from-the-community/">Voices From The Community</a>
               <span class="px-2">/</span>
               <a href="/page/voices-from-the-community/spying/"> Spying During The Pivotal Moments For THe Tibet Movement</a>
               <span class="px-2">/</span><a>{title}</a>
           </p>
           <h1 class="p-20 font-bold text-9xl bg-gradient-to-r from-slate-700 to-slate-800 via-slate-200 bg-clip-text text-transparent content-center  z-10  px-20 [text-shadow:_2px_2px_0_rgb(0_0_0_/_30%)] text-center" transition:name="title1">
            {title}
            </h1>
			</div>
		</section>
        <section class="content bg-slate-900 w-full text-3xl font-oswald text-slate-300">
            <div class="mx-auto w-4/5 pt-20 text-white">
               
               </div>
        <div class="mx-auto w-4/5 p-10">
           <p>Digital espionage campaigns often take advantage of targeted communities when they are the most vulnerable such as periods of emergency. The COVID pandemic provided a perfect environment for digital espionage operators to spread a different type of infection. </p>
           <p>Like the rest of the world the COVID pandemic hit the Tibetan community in early 2020. Tibetans in India were particularly vulnerable due to the lack of access to health services and equipment. Furthermore, the close proximity of the community made self isolation difficult. While dealing with the daily challenges of the pandemic, Tibetans also found themselves under attack from digital espionage campaigns that leveraged concerns over COVID to spread malicious emails. </p>
           <p>Emails circulated that appeared to be from a Tibetan human rights group that included a PowerPoint slide deck that claimed to have information about how China was effectively managing the coronavirus outbreak. The emails all contained malware.</p>
           <p>A few months later another espionage email campaign started that spoofed the account of Delek Hospital, one of the main healthcare institutions for the community. The emails included a document with information on “Public Protection against Covid-19”. However, again this was a trick and the document was malware designed to spy on the community.</p>
           <p>Another COVID-19 theme based email attack was observed where the attackers presented themselves as “DIIR INFO Secretary''. Although the content of the email was presented to look like a general public awareness message on Covid-19 from  the World Health Organisation (WHO), the interesting fact here is that the email sender information is depicted as the Department of Information and International Relations (DIIR), an executive branch under the CTA. This guidance document was initially published on March 7, 2020, while the weaponized attachment was delivered by threat actors on March 16, 2020. This malicious attachment was later found to exploit a microsoft vulnerability and the malware was later dubbed as ‘Sepulcher’ by Proofpoint, an american cybersecurity company. They also attributed the Chinese APT group TA413 as the threat actor behind the malicious campaign. The malware was found to be capable of obtaining information about the drives, files, directories, running processes, and services. The malware was also capable of dynamic functionalities like deleting and creating directories and files, terminating a process, restarting a service, changing a service start type, and deleting a service. ] </p>
        </div>   
 
        </section>
       
	

        <Pagination next={nexturl} nextTitle={nextTitle} prev={prevurl} prevTitle={prevTitle} />

     

	</div>



	
</Default>