---
import Default from "../layouts/Default.astro"
import Hero from '../components/Heropage.astro'
import ArrowOpen from '../icons/arrow-open.astro'
import BannerLeftText from "../components/BannerLeftText.astro"
import BannerRightText from "../components/BannerRightText.astro"

const title = "Digital Disruption:"
const description = "Exploring the Impact of Cyber Attacks on the Tibetan Community in Exile"
const image ="screenshot.png"

---
<Default title={title} description={description} image={image}>	
	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">
		<Hero {title} tagline={description}/>
		<BannerLeftText title="Introduction" img="/images/city.jpg" link="page/introduction">
		</BannerLeftText>

		<BannerRightText title="Background" img="/images/bw.jpg" link="page/background">
			<div class="flex flex-col sm:flex-row text-sm sm:text-sm md:text-2xl text-slate-600 items-left md:items-end justify-end md:px-20 sm:p-0 pr-0">
				<a href="page/background/the-tibet-movement-goes-online/" class="flex items-center hover:text-slate-500" transition:name="heading1"><ArrowOpen/>The Tibet Movement Goes Online</a>
				<a href="/page/background/early-digital-threats/" class="flex items-center hover:text-slate-500" transition:name="heading1"><ArrowOpen/>Early Digital Threats Against The Community</a>
			</div>
		</BannerRightText>

		<BannerLeftText title="Voices From The Community" img="/images/surveillance.jpg" link="page/voices-from-the-community/">
			<div class="flex flex-col md:flex-row text-sm sm:text-sm md:text-2xl text-slate-600 items-left md:items-end justify-start md:px-20 sm:p-0">
				<a href="page/voices-from-the-community/spying/" class="flex items-center hover:text-slate-500" transition:name="heading1"><ArrowOpen/>Spying During The Pivotal Moments For THe Tibet Movement</a>
				<a href="/page/voices-from-the-community/a-spectrum-of-threats/" class="flex items-center hover:text-slate-500" transition:name="heading2"><ArrowOpen/>A Spectrum Of Threats</a>
			</div>
		</BannerLeftText>

		<BannerRightText title="The Community Responds" img="/images/surveillance.jpg" link="page/the-community-responds/">
		</BannerRightText>



		<!-- <section id="intro" class="snap-start w-lvw bg-slate-300 h-lvh flex flex-col">
			<div class="h-1/2 bg-black flex justify-between overflow-hidden ">
				<h1 class="titleLeft font-bold text-9xl bg-gradient-to-r from-slate-700 to-slate-800 via-slate-200 hover:to-slate-400   bg-clip-text text-transparent content-center p-20" transition:name="title1"><a href="page/introduction">Introduction</a></h1><br>
				<div class="w-1/4">
					<img class=" img object-cover" src="/images/horse.jpg">
				</div>	
			</div>
			<div class="h-1/2 bg-slate-900  flex justify-between ">
				<img class="h-full bg-red-500 w-1/3 z-10" src="/images/bw.jpg">
				<div>
					<h1 class="titleRight font-bold text-9xl text-white content-center pt-20  pr-20 text-right z-0 " transition:name="title2"> <a href="page/background">Background</a></h1>
					<div class="text-slate-500  text-3xl md:text-4xl flex flex-col justify-end pr-20 py-2">
						<p class="hover:text-slate-400 py-1 hover:translate-x-2 transition duration-75">
							<a href="page/background/the-tibet-movement-goes-online/" class="flex items-center " transition:name="heading1"><ArrowOpen/>The Tibet Movement Goes Online</a>
						</p>
						<p class="hover:text-slate-400 py-1 hover:translate-x-2 transition duration-75"> 
							<a href="page/background/early-digital-threats/" class="flex items-center" transition:name="heading2"><ArrowOpen/>Early Digital Threats Against The Community</a>
						</p>
					</div>
				</div>
				
			</div>
		</section>
	
		<section id="early-digital" class="snap-start w-lvw bg-slate-300 h-lvh flex flex-col">
			<div class="h-1/2 bg-black flex justify-between overflow-hidden">
				<div>
					<h1 class="titleLeft font-bold lg:text-8xl md:text-7xl  text-white pt-20  pl-20 z-0" transition:name="title3"><a href="page/voices-from-the-community/">Voices From The Community</a></h1><br>
					<div class="text-slate-500  text-2xl md:text-4xl flex flex-col p-20">
						<p class="hover:text-slate-400 py-1 hover:translate-x-2 transition duration-75">
							<a href="page/voices-from-the-community/spying/" class="flex items-center " transition:name="heading1"><ArrowOpen/>Spying During The Pivotal Moments For THe Tibet Movement</a>
						</p>
						<p class="hover:text-slate-400 py-1 hover:translate-x-2 transition duration-75"> 
							<a href="/page/voices-from-the-community/a-spectrum-of-threats/" class="flex items-center" transition:name="heading2"><ArrowOpen/>A Spectrum Of Threats</a>
						</p>
					</div>
				
				</div>
				<img class=" h-full bg-red-500 w-1/3 z-10" src="/images/bw.jpg">	
			</div>
			<div class="h-1/2 bg-slate-900  flex justify-between">
				<img class="h-full bg-red-500 w-2/4 z-10" src="/images/bw.jpg">
				<h1 class="titleRight font-bold text-9xl text-white content-center p-20 text-right" transition:name="title4"><a href="page/the-community-responds">The Community Responds</a></h1>	
			</div>
		</section> -->


	</div>




	
</Default>