---
import BannerLeftText from "../../../../../components/BannerLeftText.astro"
import BannerRightText from "../../../../../components/BannerRightText.astro"
import PageHeading from "../../../../../components/pageHeading.astro"
import Pagination from "../../../../../components/Pagination.astro"
import Default from "../../../../../layouts/Default.astro"


const title = "Spy In Your Pocket"

const PrevTitle = "A Spectrum Of Threats"
const prevtUrl = "/page/voices-from-the-community/a-spectrum-of-threats/"
const nextTitle = " The Community Responds "
const nextUrl = "/page/the-community-responds/"

---
<Default title={title}>

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">
        <PageHeading {title}>
            <p slot="link" class="text-slate-400 text-2xl text-center p-5  m-auto z-10">
                <a href="/">Home</a>
                <span class="px-2">/</span>
                <a href="/page/voices-from-the-community/">Voices From The Community</a>
                <span class="px-2">/</span>
                <a href="/page/voices-from-the-community/a-spectrum-of-threats/"> A Spectrum of Threat</a>
                <span class="px-2">/</span><a>{title}</a>
            </p>
        </PageHeading>
        <section class="content bg-slate-900 w-full text-2xl md:text-3xl text-slate-300 font-oswald">
            <div class="mx-auto w-full md:w-4/5  p-5 md:p-10 text-justify "> 
            <p>
                In the early 2010s, the rise of smartphones introduced new opportunities for connectivity for the Tibetan community. 
                The ubiquity of mobile technology connected Tibetans in Tibet and the diaspora in ways that had not been experienced before. 
                Reports from inside became available as events happened. Families separated by exile went from periodic updates to daily communications. 
                But as this new connectivity flourished espionage threats went mobile as well.
            </p> 
            </div>        
        </section>
<BannerLeftText title="Mobile Threats Emerge" link="/page/voices-from-the-community/a-spectrum-of-threats/the-spy-in-your-pocket/mobile-threats-emerge/" img="/images/DSC01190-min_1.jpg" ></BannerLeftText>
<BannerRightText title="One Click Away From Compromise" link="/page/voices-from-the-community/a-spectrum-of-threats/the-spy-in-your-pocket/one-click-away-from-compromise/" img="/images/DSC01190-min_1.jpg">
</BannerRightText>


    
        <Pagination prevTitle={PrevTitle} prev={prevtUrl} nextTitle={nextTitle} next={nextUrl} home="/">


	</div>




	
</Default>