---
import Pagination from "../../../components/Pagination.astro"
import Default from "../../../layouts/Default.astro"


const title = "Spy In Your Pocket"

const PrevTitle = "Attempt To Silence The Voice Of Tibet"
const prevtUrl = "/page/on-the-frontline/attempt-to-silence-voice-of-tibet"
const nextTitle = ""
const nextUrl = ""

---
<Default title={title}>

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">

		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black flex flex-col justify-between overflow-hidden">
                <a href="/page/on-the-frontlines"><p class="text-slate-400 text-5xl text-center p-5 bg-slate-800 w-80 m-auto">On The Frontline</p></a>
				<h1 class="titleLeft font-bold text-9xl text-white content-center p-20 text-center" transition:name="heading4">{title}</h1>
			</div>
		</section>
        <section class="content bg-slate-900 w-full text-3xl font-oswald">
            <div class="mx-auto w-4/5 p-10 text-white"> 
            <p>
                In the early 2010s, the rise of smartphones introduced new opportunities for connectivity for the Tibetan community. The ubiquity of mobile technology connected Tibetans in Tibet and the diaspora in ways that had not been experienced before. Reports from inside became available as events happened. Families separated by exile went from periodic updates to daily communications. But as this new connectivity flourished espionage threats went mobile as well.
            </p> 
          
            </div>
           
            
        </section>



    
        <Pagination prevTitle={PrevTitle} prev={prevtUrl} nextTitle={nextTitle} next={nextUrl} home="/">


	</div>




	
</Default>