---
import  '../style/global.css';

import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions';

const { title, description, image } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <!--     
        <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />  VideoJS CDN Head 
        <link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
        <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
        <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet">
        <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet">
        --> 
    <BaseHead title={title} description={description} display_image={image} />
		<title>{title}</title>
	</head>
	<body class="font-bebas flex flex-col justify-around scroll-smooth transition duration-75 bg-slate-900 font-light ">
	<slot/>

<Footer/>

<script> 
   import { gsap } from "gsap";
    import  ScrollTrigger  from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
     
const titleLeft = gsap.utils.toArray(".titleLeft");
    titleLeft.forEach((title,i)=>{
        gsap.from(title, {
        scrollTrigger:{
        trigger: title,
        start: "top 60%",
        end: "end 0%",
        scrub: true,
        markers: false
        },
        x:1200,duration: 2, opacity: 0, scale:2.5
    })})

const titleRight = gsap.utils.toArray(".titleRight");
    titleRight.forEach((title,i)=>{
        gsap.from(title, {
        scrollTrigger:{
        trigger: title,
        start: "top 80%",
        end: "end 40%",
        scrub: true,
        markers: false
        },
        opacity: 0, x:-1200,duration: 2,scale: 2 

    })})



</script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script> <!-- VideoJS CDN Foot--> 
</body>
</html>
