---
import Default from "../../layouts/Default.astro"

import Pagination from "../../components/Pagination.astro"

const title = "On The Frontlines"
const nextTitle = "The Community Responds"
const nexturl = "/page/the-community-responds"
const prevTitle = "Early Digital Threats Against The Community"
const prevurl = "/page/early-digital-threats"
---
<Default title={title}>

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">

		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black flex justify-between overflow-hidden">
				<h1 class="titleLeft font-bold text-9xl text-white content-center p-20 text-center" transition:name="title4">{title}</h1>
			</div>
		</section>
        
        <section class="content bg-slate-900 w-full text-3xl font-oswald">
            <div class="mx-auto w-4/5 p-10 text-white">
                <p>While incidents of digital espionage against the Tibetan community are well documented in threat intelligence reports, the focus is almost always on the technical aspects alone. These reports have no understanding of the social and political context in which these threats occur. Without this context it is not possible to understand the harm of digital espionage.</p>
                <p>
                Only paying attention to the malware and other technical tricks being used in digital espionage is like investigating a shooting but only analyzing the gun. When gun crime is investigated, the forensic details of the bullet may help connect similar attacks and maybe even trace it to the shooter, but if the damage against the victim and the context in which the attack happened is ignored the nature and impact of the crime cannot be properly assessed. Digital espionage is no different. A full understanding of digital espionage requires a wider and deeper view into the issue. We interviewed members of the Tibet movement who have been targeted by digital espionage to document the history of the threat against the community and show the impact.
                </p>
                <br>
            <div class="grid grid-cols-4 gap-5">
                <a href="/page/on-the-frontline/a-movement-under-surveillance" class="col-span-2 ">
                    <div class="w-full flex h-80 items-center border-2 border-slate-800 justify-center relative overflow-hidden rounded-2xl ">
                        <img src="../../images/surveillance.jpg" alt="Surveillance" class="w-full h-full object-cover   absolute z-0 opacity-30 hover:opacity-20">
                        
                        <p class="z-20" transition:name="heading1">A Movement Under Surveillance</p>
                    </div>
                </a>
                <a href="/page/on-the-frontline/impersonation-&-trust" class="col-span-2 ">
                    <div class="w-full flex h-80 items-center border-2 border-slate-800 justify-center relative overflow-hidden rounded-2xl">
                        <img src="../../images/computer-security.jpg" alt="Surveillance" class="w-full h-full object-cover  absolute z-0 opacity-30 hover:opacity-20">
                        <p class="z-20" transition:name="heading2">Impersonation & Trust</p>
                    </div>
                </a>
                <a href="/page/on-the-frontline/poisoning-the-well">
                    <div class="w-full flex h-80 items-center border-2 border-slate-800 justify-center relative overflow-hidden rounded-2xl">
                        <img src="../../images/Greatfirewall.png" alt="Surveillance" class="w-full h-full object-cover  absolute z-0 opacity-30 hover:opacity-20">
                        <p class="z-20" transition:name="heading3">Poisoning The Well</p>
                    </div>
                </a>
                 <a  href="/page/on-the-frontline/attempt-to-silence-voice-of-tibet" class="col-span-2" > 
                    <!--  -->
                    <div class="w-full flex h-80 items-center border-2 border-slate-800 justify-center relative overflow-hidden rounded-2xl">
                        <img src="../../images/Uyghur.jpeg" alt="Surveillance" class="w-full h-full  object-cover absolute z-0 opacity-30 hover:opacity-20">
                        <p class="z-20" transition:name="heading4">Attempt To Silence The Voice Of Tibet</p>
                        
                    </div>
                     </a>    
               <a href="/page/on-the-frontline/spy-in-your-pocket"  class="cursor-pointer"> 
                <div class="w-full flex h-80 items-center border-2 border-slate-800 justify-center relative overflow-hidden rounded-2xl" >
                    <img src="../../images/mobile-security.jpeg" alt="mobile security" class="w-full h-full absolute z-0 opacity-30 hover:opacity-20">
                    <p class="z-20">The Spy In Your Pocket</p>
                </div>
            </a>
            </div>

        </div>
        </section>

        <Pagination next={nexturl} nextTitle={nextTitle} prev={prevurl} prevTitle={prevTitle} />

 
	</div>

    



  




	
</Default>