---
import Default from "../../layouts/Default.astro"
import Pagination from "../../components/Pagination.astro"

const title ="The Tibet Movement Goes Online"
const nextTitle = "Early Digital Threats"
const nexturl = "/page/early-digital-threats"
const prevTitle = "Introduction"
const prevurl = "/page/introduction"

---
<Default title={"The Tibet Movement Goes Online"}>

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">

		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black flex justify-between overflow-hidden">
				<h1 class="titleLeft font-bold text-9xl text-white content-center p-20 text-center" transition:name="title2">{title}</h1>
			</div>
		</section>
        <section class="content bg-slate-900 w-full text-3xl font-oswald text-slate-300">
            <div class="mx-auto w-4/5 p-10">
                <p>
                    Dharamshala, a small city in Northern India has been the central hub of the Tibetan diaspora since His Holiness the Dalai Lama made it his residence after escaping from Tibet in 1959.
                </p>
                <p>
                    The first connection to the Internet in Dharamshala was administered by the Tibetan Computer Resource Centre (TCRC), a department of the Tibetan Government in Exile (TGiE, now known as the Central Tibetan Administration, CTA) that provides technical support Accessing email required going to the roof of the TCRC office, where there was a single computer available.
                </p>
                <p>
                    The next step was navigating a complex process to send messages that were stored in Delhi, where they would wait for forwarding on to the final recipient. There was only one address for sending or receiving email for the entire community.
                </p>
                <p>
                    The community truly came online in the mid-1990s thanks to efforts from Dan Haig and a group of volunteers. Dan Haig did early work on the World Wide Web in California before coming to Dharamsala to study Tibetan medicine. Given his technical expertise he soon found himself helping the Tibetan Government in Exile connect to the Internet.
                </p>
            
                <blockquote class="testamonial mx-auto w-4/5   bg-slate-800  flex justify-between relative">
                    <span class="text-9xl absolute z-0 text-slate-600">“</span>
                    <div class="  text-slate-300 p-5 text-xl z-10  italic ">
                        <p>
                            In January of 1996, I registered tibet.org, which marked the beginning of my involvement with the Tibet movement. Unexpectedly, this journey led me to various places I had never envisioned. Concurrently, I maintained communication with Phuntsok Namgyal.
                        </p>
                        <p>
                            About a year and a half later, I found myself in India with four companions, equipped with everything necessary to establish a network connecting all the offices in Gangkyi.
                        </p>
                        <p>This network facilitated a dial-in connection from the Private Office and Norbulingka Institute, among other locations.</p>
                        <p>Our goal was to usher the Tibetan exile community and the government-in-exile into the Internet age.”</p>
                        
                    </div>
                    <div class="w-80 h-full bg-red-300">
                        <img src="/media/dan.jpg" class="object-cover w-full  h-full" alt="" >
                    </div>
                    
                </blockquote>
            <p>
                Dan and his friends, together with the TCRC, helped the TGiE set up an Internet-connected Local Area Network between all seven ministries, the Kashag, Library of Tibetan Works and Archives, and provided several other offices with dialup connectivity to the Private Office of His Holiness the Dalai Lama (OHHDL), the Norbulingka Institute and other key community organizations.
            </p>
            <p>
                On December 18 1996, the website DalaiLama.com was registered.4 At that time, monks from the OHHDL were managing the Office’s email, maintaining databases, hosting the website, and managing the content. The OHHDL used email to schedule His Holiness’ meetings with international diplomats and religious leaders around the globe.
            </p> 
        </div>   
        <div class="mx-auto w-4/5 p-10 flex ">
            <img src="/media/dalailama.jpg" class="h-auto w-80 max-w-full" alt="">
        <div>
            <p>DalaiLama.com webpage from 1999 archived online</p>
            <p>In 2000, the TGiE’s web presence (Tibet.Net) was established and the community network consisted of over 120 computers.</p>
            <p>It was also around this time that the wider Tibetan community both in India and abroad started to come online. Exposure to the Internet transformed the cause for human rights in Tibet from a regionalized effort to a globally coordinated movement. However, as the community came online, information security threats followed. Dan Haig recounts how at this early stage of Internet connectivity, digital espionage emerged.</p>
        </div>
        </div>

        <div class="mx-auto w-4/5 p-10  ">
            <blockquote class="testamonial mx-auto w-4/5  text-white bg-slate-800  flex justify-between relative">
                <span class="text-9xl absolute z-0 text-slate-600">“</span>
                <div class="  text-slate-300 p-5 text-xl z-10  italic ">
                    <p>
                        In January of 1996, I registered tibet.org, which marked the beginning of my involvement with the Tibet movement. Unexpectedly, this journey led me to various places I had never envisioned. Concurrently, I maintained communication with Phuntsok Namgyal.
                    </p>
                    <p>
                        About a year and a half later, I found myself in India with four companions, equipped with everything necessary to establish a network connecting all the offices in Gangkyi.
                    </p>
                    <p>This network facilitated a dial-in connection from the Private Office and Norbulingka Institute, among other locations.</p>
                    <p>Our goal was to usher the Tibetan exile community and the government-in-exile into the Internet age.”</p>
                    
                </div>
                <div class="w-80 h-full bg-red-300">
                    <img src="/media/dan.jpg" class="object-cover w-full  h-full" alt="" >
                 </div>
                </blockquote>

                <p>
                    Information technology is a double-edged sword for the Tibetan community. On one hand, it has significantly contributed to strengthening the Tibetan movement, fostering greater communication opportunities, and promoting awareness of Tibetan culture and heritage on a global scale. However, alongside these advancements, the community has become increasingly vulnerable to online threats orchestrated by groups affiliated with the PRC. Exploiting the community’s relatively limited information security capacity, these groups infiltrate communication networks, surveil individuals and organizations, and pose significant challenges to the integrity and security of the Tibetan movement.
                </p>
        </div>

        </section>

        <Pagination next={nexturl} nextTitle={nextTitle} prev={prevurl} prevTitle={prevTitle} />

     

	</div>



	
</Default>